.title {
    text-align: center;
    padding: 15px;
    width: 50%;
}

.title-container {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: #d7e8f9;
    margin-top: 0px;
}

.body-container {
    background: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.button-container {
    text-align: center;
}

.display-container {
    display: flex;
}

.tweet-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.tweet {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    margin-top:10px;
    border: solid #bec2c6;
    box-sizing: border-box;
    width: 90%;
    border-width: 2px;
}

.timestamp {
    font-family: 'Oxygen', sans-serif;
    font-weight: light;
    font-size: 13px;
    padding-top: 15px;
}

.absolute {
    display: none;
}

.profile-container {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.user {
    font-weight: bold;
}

.user:hover {
    text-decoration: underline;
}

form {
    font-family: 'Oxygen', sans-serif;
    margin-left: 5%;
}

.form-container {
    display: inline;
}

#to-tweet {
    width: 70%;
    height: 20px;
    font-size: inherit;
    font-family: inherit;
}
#tweet-button {
    background: white;
    font-size: inherit;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid #bec2c6;

    /*height: 20px;*/
    /*background: green;*/
}

.visitor-name {
    font-family: 'Oxygen', sans-serif;
    margin-left: 5%;
}
