.title {
    text-align: center;
    padding: 15px;
    width: 50%;
}

.title-container {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/*button{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    background: white;
    border-radius: 5px;
    border: solid #b4d4f3;
    border-width: 2px;
}

button:hover {
    text-decoration: underline;
    border-width: 3px;
}

button:active{
    outline: none;
}*/

body {
    background: #d7e8f9;
    /*background: #ecf0f4;*/
    margin-top: 0px;
}

.body-container {
    /*background: #e7eef3;*/
    background: white;
    /*border: solid #b4d4f3;*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /*border-radius: 25px;*/

}

.button-container {
    text-align: center;
}

.display-container {
    display: flex;
}

.tweet-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.tweet {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    margin-top:10px;
    border: solid #bec2c6;
    box-sizing: border-box;
    width: 90%;
    border-width: 2px;
}

.timestamp {
    font-family: 'Oxygen', sans-serif;
    font-weight: light;
    font-size: 12px;
    padding-top: 15px;
    /*text-align: center;*/
}

.profile-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.user {
    font-weight: bold;
}

.user:hover {
    text-decoration: underline;
}
